html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline-color: black;
}

/* Menu links */

.hasmLd a {
  color: white;
}

/* logo height */

.uguHT {
  width: auto;
  height: 80px;
}

/* detailPage */

div#__next {
  background-color: #000000;
}

@media (max-width: 970px)
<style>
.dFxDxb:before {
    content: '';
    background: #000000;
    height: 715px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}